CREATE TABLE d_fecha (
    id_fecha INT PRIMARY KEY,
    anyo INT NOT NULL,
    mes INT NOT NULL,
    desc_mes VARCHAR(50) NOT NULL,
    dia INT NOT NULL,
    fecha DATE,
    dia_semana VARCHAR(50)
);

 
