CREATE TABLE d_categoria (
    id_categoria INT PRIMARY KEY,
    desc_categoria VARCHAR(50)
);

INSERT INTO d_categoria (id_categoria, desc_categoria)
VALUES
 (1, 'Automotive'),
 (2, 'Baby'),
 (3, 'Beauty'),
 (4, 'Books'),
 (5, 'Clothing'),
 (6, 'Computers'),
 (7, 'Electronics'),
 (8, 'Games'),
 (9, 'Garden'),
 (10, 'Grocery'),
 (11, 'Health'),
 (12, 'Home'),
 (13, 'Industrial'),
 (14, 'Jewelery'),
 (15, 'Kids'),
 (16, 'Movies'),
 (17, 'Music'),
 (18, 'Outdoors'),
 (19, 'Shoes'),
 (20, 'Sports'),
 (21, 'Tools'),
 (22, 'Toys');

