CREATE TABLE d_tipo_tarjeta (
    id_tipo_tarjeta INT PRIMARY KEY,
    desc_tipo_tarjeta VARCHAR(50)
);

INSERT INTO d_tipo_tarjeta (id_tipo_tarjeta, desc_tipo_tarjeta)
VALUES
 (1, 'americanexpress'),
 (2, 'bankcard'),
 (3, 'china-unionpay'),
 (4, 'diners-club-carte-blanche'),
 (5, 'diners-club-enroute'),
 (6, 'diners-club-international'),
 (7, 'diners-club-us-ca'),
 (8, 'instapayment'),
 (9, 'jcb'),
 (10, 'laser'),
 (11, 'maestro'),
 (12, 'mastercard'),
 (13, 'solo'),
 (14, 'switch'),
 (15, 'visa'),
 (16, 'visa-electron');
